* {
    font-family:'Times New Roman', Times, serif
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dark-bg {
    background-color: hsl(215, 28%, 17%);
}

.white-bg {
    background-color: #FFFFFF;
}

.light-bg {
    background-color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.header-top {
    text-align: center;
}

.header-logo {
    flex-grow: 3;
}

.header-link {
    color: #E5E7EB;
    text-align: center;
    flex-grow: 1;
}

.header-hero-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

.hero-text-wrapper {
    display:flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
}

.hero-text-wrapper > div {
    margin: 3px 10%;
    box-sizing: border-box;
}

.hero-button {
    background-color: #3882f6;
    width: 20%;    
    color: white;
    padding: 10px;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
}

.hero-img-wrapper {
    flex: 1;
}

.hero-img {
    width: 80%;
    height: 50%;
    margin: 25% 0;
    background-color: grey;
}

.image-main-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

.image-wrapper {
    
}

.quote-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

.disclaimer-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
